/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --backGroundColor:#232730;
    --textColor:#ffffff;
    --accentColor:#6AB972;
    
}

h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;    
    text-align: center;
}

h2{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: center; 
}
p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px; 
    text-align: justify;
}
hr{
    width: 100%;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Montserrat', monospace;
}

.contenedor{
 
    height:100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;   
    border: 1px solid black;
    grid-template-areas: "menu mapa mapa";

}


.mapa{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    grid-area: mapa;
    
}
.menu{
    grid-area: menu;
    padding: 35px;
    background-color: var(--backGroundColor);
    color: var(--textColor);
    padding-top: 100px;
    display: flex;
    flex-direction: column;

}
.contenedor_menu{
    height: 100%;    
    display: flex;
    flex-direction: column;
    gap: 40px;    
}

.box_search{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.input_wrapper{
    position: relative;
    width: auto;
}
.input_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}
input[type=text]{
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    width: 100%;
    padding-left: 40px;

}
input[type=text]::placeholder{
    color: var(--textColor);    
}
input[type=button]:active{
    color: var(--accentColor);
    border: 1px solid var(--accentColor);
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid var(--accentColor);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--accentColor);
    cursor: pointer;  
    margin-top: -4px;
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {    
    border: 1px solid var(--accentColor);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--accentColor);
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {    
    border: 1px solid var(--accentColor);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--accentColor);
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;    
    background: var(--accentColor);
    
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--accentColor);
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;    
    background: var(--accentColor);
  }
  input[type=range]::-ms-track{
    width: 100%;
    height: 3px;
    cursor: pointer;    
    background: var(--accentColor);
  }

.btn_options{
    background-color: transparent;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.btn_options:hover {
    color: var(--accentColor);
    border: 1px solid var(--accentColor);        
}

.box_options{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.wrapper_range{
    display: flex;
    align-items: center;
    width: 100%;
    gap:10px;
}
.box_range{    
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.btn_buscar{
    background-color: var(--accentColor);
    border: none;
    color: var(--textColor);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    height: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;

}